.tooltip {
    width: 300px;
}

.tag {
    position: relative;
}

.card_selected {
    border: 2px solid red !important;
}

textarea {
    resize: none;
}

/*
#player {
    background: url(../res/bg.jpg) no-repeat center center;
    background-size: contain;
    background-attachment: fixed;
}*/

.seled {
    border: 1px solid red;
    background-color: #D6DFF7
}

.media img {
    height: 50px;
}


.card_active {
    color: var(--light);
    background-color: var(--primary);
}

#wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}


#sidebar-wrapper {
    height: 100%;
    margin-left: -16rem;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    width: 250px;
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}


#page-content-wrapper {
    min-width: 100vw;
}

.r1 {
    -webkit-animation: rotate 20s infinite linear;
    animation: rotate 5s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}


.modal-dialog {
    margin: 0 auto;
}

@media (max-width: 540px) {

    body,
    #wrapper {
        overflow-y: unset;
    }

    .modal-dialog {
        width: unset !important;
        min-width: unset !important;
        max-width: unset !important;
    }

}

@media (min-width: 1200px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -16rem;
    }
}

#player {
    height: calc(100vh - 200px);
}

#player video {
    width: 100%;

}

/*.dplayer-video-wrap {
    border-radius: 12px;
    background-color: unset !important;
}*/
/*.dplayer.dplayer-fulled {
    left: -27px;
    top: 0;
}*/

.dplayer-web-fullscreen-fix {
    width: 100%;
    /*-webkit-app-region: drag;*/
}

body.dplayer-web-fullscreen-fix #dragBar {
    /*display: none;*/
}

.dplayer-web-fullscreen-fix #div_video_side {
    display: none;
}

.dplayer-web-fullscreen-fix #div_video_toolBar {
    display: none;
}

.dplayer-web-fullscreen-fix .navbar {
    display: none;
}