node_modules
res
cuts
cover
subs
cache
build
icudtl.dat
chrome_200_percent.pak
libEGL.dll
ffmpeg.dll
vulkan-1.dll
resources.pak
LICENSES.chromium.html
chrome_100_percent.pak
v8_context_snapshot.bin
libGLESv2.dll
d3dcompiler_47.dll
vk_swiftshader_icd.json
vk_swiftshader.dll
snapshot_blob.bin
LICENSE.electron.txt
resources
locales
swiftshader
videoManager.exe